<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,312}</string>
                <key>spriteSourceSize</key>
                <string>{92,312}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clothes_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,227}</string>
                <key>spriteSourceSize</key>
                <string>{90,227}</string>
                <key>textureRect</key>
                <string>{{92,0},{90,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clothes_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,227}</string>
                <key>spriteSourceSize</key>
                <string>{90,227}</string>
                <key>textureRect</key>
                <string>{{182,0},{90,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{76,84}</string>
                <key>textureRect</key>
                <string>{{272,0},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,84}</string>
                <key>spriteSourceSize</key>
                <string>{76,84}</string>
                <key>textureRect</key>
                <string>{{348,0},{76,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{0,312},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{63,312},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoe_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{141,312},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{188,312},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sleeve_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{235,312},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sleeve_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{313,312},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>npc.png</string>
            <key>size</key>
            <string>{424,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cef21886e2271f7e0451b5b9668dcb98:be2e04fd83b88e89a172d9ae823edcd9:0b760b9359d5dddae5dab0980cb73d8a$</string>
            <key>textureFileName</key>
            <string>npc.png</string>
        </dict>
    </dict>
</plist>
